// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

* {
  font-size: 14px;
}

window.bar {
  background: $bg-color;
  color: $fg-color;
  font-weight: bold;
  min-height: 32px;

  margin: 2px 2px 0;
  border-radius: 16px;
  padding: 2px;

  * {
    border-radius: 16px;
    margin: 0 4px;
  }

  .tray {
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.1);
    border-radius: 16px;

    * {
      margin: 0 2px;
    }

    .tray-item {
      padding: 0;
      margin: 0 4px;
    }

  }

  button {
    border-radius: 16px;
    margin: 0;
    padding: 0 2px;
  }

  .workspaces {
    // padding: 12px 2px;

    .workspace {
      font-size: 16px;
    }
  }

  .time {
    margin: 0 8px;
  }

  .media-controller {
    background-color: $bg-color;
    border-radius: 16px;
    margin: 4px;
    min-width: 360px;
    min-height: 240px;

    .title {
      font-size: 20px;
    }

    .artist {
      font-size: 12px;
    }

    .controller {
      padding: 12px;

      button {
        padding: 0 8px;
        margin: 0 16px;
        border-radius: 99px;
      }

      label {
        font-size: 36px;
      }
    }
  }



  .control-popup-main {
    .title-box {
      padding: 4px 10px;
      margin: 2px 0;

      button {
        border-radius: 8px;
      }
    }

    .content-box {
      .connection-button {
        margin-bottom: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 8px;
      }

      .audio-component {
        margin-bottom: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
      }

      button {
        // font-size: 20px;
        border-radius: 8px;
        margin: 4px 0;

      }
    }
  }

}

window.logout-screen {
  background-color: rgba($color: #000000, $alpha: 0.8);

  button {
    margin: 12px;
    background-color: black;
  }
}

window.dock {
  background: rgba($color: #7F7F7F, $alpha: 0.01);
  min-height: 8px;
  min-width: 120px;


  .dock-inner {
    background: $bg-color;
    min-height: 64px;
    min-width: 120px;

    margin-bottom: 12px;
    border-radius: 16px;

    border-radius: 16px;

    .app-launcher {}

    .client,
    .pinned {
      margin: 4px;
      background-color: transparent;
    }
  }


}

window.screen-border-bottom {
  background-color: transparent;

  .screen-border-bottom-content {
    background-color: rgba($color: #FFFFFF, $alpha: 0.15);
    border-radius: 99px;
  }
}